---
import { Image } from 'astro:assets';
import BaseLayout from '../layouts/BaseLayout.astro';
import Ava from '@/assets/img/avatar.webp';
import Prose from '../components/Prose.astro';
import { SITE_TITLE, TITLE_ABOUT } from '../consts';
---

<BaseLayout title={SITE_TITLE + ' | ' + TITLE_ABOUT} description='Información sobre mí.'>
	<div class='container'>
		<main class='prose text-lg dark:prose-invert'>
			<article>
				<div class='w-full md:flex md:items-center gap-16 mb-10'>
					<div class='text-pretty leading-9'>
						<h1 class='text-4xl font-bold mb-4'>Broslunas Dev</h1>
						<Prose>
							<div class='text-lg'>
								<p>
									Soy un desarrollador Front-End de Canarias, España, especializado en
									<span class='font-bold'>HTML, CSS, JavaScript, Astro y Node.js</span>. Aunque aún no tengo un empleo formal, he creado
									varios proyectos que demuestran mi pasión y mi capacidad para aprender y evolucionar día a día.
								</p>
								<p>
									Actualmente, me encuentro realizando un curso intensivo de JavaScript para perfeccionar mis habilidades y ampliar mis
									horizontes en el mundo del desarrollo. Me encanta abordar cada reto con energía, inspiración y una actitud relajada,
									siempre acompañado de buena música.
								</p>
							</div>
						</Prose>
					</div>
					<Image src={Ava} alt='Broslunas Image' width={300} class='rounded-3xl rotate-3 mx-4 md:mx-0' />
				</div>
				<div>
					<p>
						Lorem ipsum dolor sit amet consectetur, adipisicing elit. Qui molestiae modi, velit vel eos, recusandae fugiat magni minus
						soluta quam quod esse maiores nesciunt quis debitis autem voluptatibus similique sunt!
					</p>
				</div>
			</article>
		</main>
	</div>
</BaseLayout>
