---
import BaseLayout from '@/layouts/BaseLayout.astro';
import ProjectList from '@/components/ProjectList.astro';
import { projects } from '@/pages/proyectos/projects';
import { SITE_TITLE, TITLE_PROJECTS } from '@/consts';
---

<BaseLayout title={SITE_TITLE + ' | ' + TITLE_PROJECTS} description='Todos mis proyectos.'>
	<div class='container'>
		<div class='mb-10'>
			<h1 class='text-3xl font-bold mb-2'>Proyectos</h1>
			<p class='text-zinc-700 dark:text-zinc-300 text-lg'>
				Todo mi portafolio de proyectos, desde proyectos reales hasta proyectos de código abierto.
			</p>
		</div>
		<ProjectList projects={projects} />
	</div>
</BaseLayout>
